.content {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.wrapper {
  display: flex;
  gap: 20px;
  color: var(--primary-color);
}
.wrapper > h1 {
  font-size: 32px;
  font-weight: 600;
}
.content__left {
  flex: 0.7;
  padding: 20px;
}
.content__right {
  flex: 0.3;
}
.content__right img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.form__wrapper {
  font-family: "Poppins", sans-serif;
}
.form__signup {
  width: 40%;
  margin: 10px auto;
}
.form__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin__link {
  color: #4831d4;
  font-size: 13px;
}
.form__head > .form__title {
  font-weight: 600;
  font-size: 23px;
  color: #333333;
}
.input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  color: #666666;
}
.input__wrapper--checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.custom-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 4px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background: black;
}

.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 2px;
  width: 3px;
  height: 6px;
  background-color: black;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
label {
  font-size: 13px;
}
.terms {
  font-size: 11px;
  max-width: 280px;
}
.input {
  padding: 10px 5px;
  border: 1px solid #666666;
  border-radius: 8px;
}
.btn__submit {
  width: 100%;
  margin: 30px 0;
  border: none;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #c3c3c3;
  transition: all 0.3s ease;
  border-radius: 64px;
}
.btn__submit:hover {
  background-color: #949494;
}
.login__nav {
  text-align: center;
}
.link {
  color: #244779;
  margin-left: 5px;
}
.policy {
  font-size: 12px;
  text-align: center;
  color: #676b5f;
}
