.details {
  flex: 0.3;
  padding: 10px;
}
.details__user {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  padding: 10px 0;
}
.details__title {
  color: #939598;
  font-size: 13px;
}
.details__content {
  margin-top: 20px;
}
.details__content--title {
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 400;
  margin-top: 20px;
}
.details__card {
  padding: 10px;
  border: 1px solid #d1d6da;
  display: flex;
  align-items: center;
  border-radius: 13px;
  gap: 20px;
  margin-bottom: 10px;
  color: #808080;
}
