.footer {
  padding: 20px;
  background-color: white;
  padding: 30px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: baseline;
}
.footer__content.top {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.footer__wrapper > h1 {
  color: #1b1a1a;
  font-size: 18px;
  font-weight: 500;
}
.footer__wrapper > ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.footer__wrapper > ul li {
  font-size: 16px;
  margin-top: 5px;
}
