.chatpopup {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.messagebox {
  width: 350px;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
}
.messagebox__header {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #33475b;
}
.bot__name {
  color: white;
}
.messages {
  background-color: #eeeeee;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.receiver {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.receiver__message > p {
  background-color: white;
  border-radius: 9px;
  padding: 10px;
  font-size: 11px;
  max-width: 230px;
  margin-bottom: 5px;
  position: relative;
  top: -8px;
}
.message__form {
  align-self: flex-end;
  width: 280px;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
}
.message__form > h1 {
  font-size: 9px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form__name {
  border-bottom: 1px solid #c3c3c3;
  margin-top: 5px;
}
.form__name > p {
  color: #505050;
  font-size: 9px;
}
.form__name > h2 {
  font-size: 11px;
  font-weight: 400;
}
.btn__message-form {
  width: 190px;
  font-size: 11px;
  border-radius: 8px;
  margin: 10px auto;
}
.message__input {
  color: #8498b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.welcome__message {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px;
  width: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
}
.welcome__message > img:first-child {
  width: 48px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome__message > img:nth-child(2) {
  width: 28px;
  align-self: flex-end;
}
.welcome__message p {
  font-size: 14px;
  color: #33475b;
  padding: 5px;
}
