.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(149, 149, 149, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal__box {
  max-width: 720px;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.modal__title {
  font-size: 31px;
  font-weight: 500;
}
.modal__message {
  font-size: 13px;
  margin: 20px 0;
}

.modal__input--field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}
.modal__input--field > label {
  font-size: 13px;
}
.modal__input {
  padding: 12px 5px;
  border-radius: 8px;
  border: 1px solid #d1d6da;
}
.modal__input::placeholder {
  color: #afafaf;
}
.modal__input:focus {
  outline: none;
}
.modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.modal__actions > .btn {
  padding: 10px 14px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  width: 220px;
  font-size: 18px;
}

.cancel {
  background: #f6f8fa;
  color: #afafaf;
}

.delete {
  background: #e63946;
  color: white;
}
