.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  display: flex;
  gap: 5px;
  align-items: center;
}
.logo__img {
  width: 56px;
}
.logo .title {
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  font-size: 40px;
}
.links {
  display: flex;
  gap: 15px;
}
.btn--login,
.btn--signup {
  font-weight: 500;
  font-size: 16px;
}
.btn--login {
  background-color: transparent;
}
.btn--signup {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
}
