.teampage {
  flex: 1;
}
.teampage__head {
  padding: 20px;
}

.team-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.team-table th {
  text-align: left;
  padding: 12px 5px;
  font-weight: 600;
  border-bottom: 1px solid #6a6a6a;
  border-top: 1px solid #6a6a6a;
}

.team-table td {
  padding: 14px 5px;
  border-bottom: 1px solid #f0f0f0;
  vertical-align: middle;
}
tbody tr td:first-child {
  width: 120px;
}

tbody tr td:nth-child(2) {
  width: 120px;
}
tbody tr td:nth-child(3) {
  width: 200px;
}
tbody tr td:nth-child(4) {
  width: 200px;
}
.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.actions {
  text-align: right;
  padding-right: 30px;
}

.edit-btn,
.delete-btn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  opacity: 0.8;
  margin-right: 15px;
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 1;
}

.table-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.add-btn {
  background: var(--primary-color);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
