.sidebar {
  padding: 10px;
  border-right: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #fafbfc;
  position: sticky;
  top: 0;
}
.logo {
  text-align: center;
}
.logo img {
  width: 45px;
}
.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.link {
  text-decoration: none;
  text-align: center;
}
.name {
  color: #424242;
  font-size: 10px;
}
