.analyticspercent {
  color: #00d907;
  margin-top: 20px;
  display: flex;
}
.analyticspercent h1 {
  font-size: 24px;
  font-weight: 500;
}

.analytics__wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}
.analyticspercent__content {
  font-size: 13px;
  color: black;
  max-width: 690px;
  margin-top: 10px;
}

.analytics__percentage {
  border: 1px solid rgba(91, 147, 255, 0.05);
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
}
.progress-fill {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
